<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="alien1" class="org.telusko.Alien" scope="prototype">
    <property name="age" value="21"/>
    <property name="laptop" ref="laptop1"/>
</bean>

    <bean id="alien2" class="org.telusko.Alien" scope="prototype">
        <property name="age" value="22"/>
        <property name="laptop" ref="laptop2"/>
    </bean>
    <bean id="laptop1" class="org.telusko.Laptop" scope="prototype">
    </bean>

    <bean id="laptop2" class="org.telusko.Laptop" scope="prototype">
    </bean>
</beans>